body {
    margin: auto;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    background-color:#0563BA;
}

.box {
    background-color: #A1F7A1;
    margin: 20% 25%;
    padding: 1%;
    border-radius: 50px;
}

.helpMessage {
    display: none;
    font-size: 18px;
}
